@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;500&display=swap');

$primary: black;
$secondary: #8FDA81;

@mixin flexCenter {
    display:flex;
    align-items: center;
    justify-content: center;
}

@mixin size($height) {
    width:100%;
    height: $height;
}

* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    text-align: center;
    font-weight: 400;
    background: rgb(204,129,218);
    background: linear-gradient(0deg, rgba(204,129,218,1) 0%, rgba(159,129,218,1) 50%, rgba(129,143,218,1) 100%); 
    color: $primary;
}

.container {
    @include flexCenter();
    @include size(80vh);
    flex-direction: column;
}

.description {
    font-weight:200;
    font-size: clamp(0.5rem, 3.15vw, 2.5rem);
}

.timer {
    font-weight: 500;
    font-size: clamp(3rem, 7vw, 5rem);
}

footer {
    @include flexCenter();
    @include size(20vh);
    border-top:3px dashed $secondary;
}