@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;500&display=swap');

$primary: white;
$secondary: #8FDA81;

@mixin flexCenter {
    display:flex;
    align-items: center;
    justify-content: center;
}

@mixin size($height) {
    width:100%;
    height: $height;
}

* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
    font: {
        family: 'Inter', sans-serif;
        weight: 400;
        variant-numeric: tabular-nums;
    }
    text-align: center;
    background: rgb(204,129,218);
    background: linear-gradient(0deg, rgba(204,129,218,1) 0%, rgba(159,129,218,1) 50%, rgba(129,143,218,1) 100%); 
    color: $primary;
}

.container {
    @include flexCenter();
    @include size(80vh);
    flex-direction: column;
}

.description {
    font: {
        weight: 200;
        size: clamp(1.25rem, 3.15vw, 2rem);
    }
}

.timer {
    font: {
        weight: 500;
        size: clamp(3rem, 7vw, 5rem);
    }
}

footer {
    @include flexCenter();
    @include size(20vh);
    flex-direction: column;
    border-top:3px dashed $secondary;
    font-weight: 500;
}

a {
    color: $primary;
    text-decoration: underline;
    &:hover {
        color:$secondary;
    }
}

form {
    opacity: 0;
    visibility: hidden;
    transition: all 500ms ease;
    font: {
        weight: 200;
        size: clamp(0.75rem, 1.75vw, 1rem);
    }
    display: flex;
    align-items: center;
    gap:0.5vw;
    transform: translateY(75%);
    input[type=date], input[type=time] {
        outline: none;
    }
    input[type=submit] {
        border: none;
        border-radius: 5px;
        height:1rem;
        width: 3rem;
    }
    input[type=submit]:hover {
        background: $secondary;
        color:$primary;
    }
}

button {
    margin: 0.5rem;
    border: none;
    border-radius: 5px;
    width:5.5rem;
    &:hover {
        background: $secondary;
        color:$primary;
    }
}