@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;500&display=swap');

@mixin flexCenter {
    display:flex;
    align-items: center;
    justify-content: center;
}

@mixin size($height) {
    width:100%;
    height: $height;
}

* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    text-align: center;
    font-weight: 400;
}

.container {
    @include flexCenter();
    @include size(80vh);
    flex-direction: column;
}

.description {
    font-weight:200;
    font-size: clamp(2rem, 5vw, 4rem);
}

.timer {
    font-weight: 500;
    font-size: clamp(3rem, 7vw, 5rem);
}

footer {
    @include flexCenter();
    @include size(20vh);
    border-top:1px solid red;
}